 @import "tailwindcss";

 :root {
   --background: #ffffff;
   --foreground: #171717;
 }

 @theme inline {
   --color-background: var(--background);
   --color-foreground: var(--foreground);
   --font-sans: var(--font-geist-sans);
   --font-mono: var(--font-geist-mono);
 }

 @media (prefers-color-scheme: dark) {
   :root {
     --background: #0a0a0a;
     --foreground: #ededed;
   }
 }

 @layer base {


   body {
     background: var(--background);
     color: var(--foreground);
     font-family: Arial, Helvetica, sans-serif;
   }

   main {
     @apply pt-16 grow max-w-6xl mx-auto
   }

   h1 {
     @apply text-3xl md:text-5xl font-bold text-white
   }

   h2 {
     @apply text-2xl md:text-3xl font-bold text-white
   }

   h3 {
     @apply text-lg font-semibold text-white
   }

   p {
     @apply text-gray-400
   }

   p .important {
     @apply text-gray-300
   }
 }

 @layer components {
   .smallText {
     @apply text-sm text-gray-500
   }

   .label {
     @apply text-sm text-blue-400 tracking-widest uppercase
   }

 }