 @import "tailwindcss";

 :root {
   /* --background: #ffffff;
   --foreground: #171717; */
   --background: #0a0a0a;
   --foreground: #ededed;
 }

 @theme inline {
   --color-background: var(--background);
   --color-foreground: var(--foreground);
   --font-heading: var(--font-raleway);
   --font-body: var(--font-dm-sans);
 }

 @media (prefers-color-scheme: dark) {
   :root {
     --background: #0a0a0a;
     --foreground: #ededed;
   }
 }

 @layer base {

   body {
     background: var(--background);
     color: var(--foreground);
     font-family: var(--font-body);
   }

   main {
     @apply pt-16 grow max-w-5xl mx-auto w-full
   }

   h1 {
     @apply text-3xl md:text-5xl font-bold text-white font-heading
   }

   h2 {
     @apply text-2xl md:text-3xl font-bold text-white font-heading
   }

   h3 {
     @apply text-lg font-semibold text-white font-heading
   }

   p {
     @apply text-gray-400
   }

   p .important {
     @apply text-gray-300
   }
 }

 @layer components {
   .input {
     @apply w-full max-w-full sm:w-[450px] border text-gray-300 font-semibold border-gray-800 rounded-xl px-4 pt-5 md:pt-7 pb-2 bg-gray-900/50 placeholder-transparent outline-blue-500
   }

   .smallText {
     @apply text-sm text-gray-500
   }

   .hero-label {
     @apply text-sm text-blue-400 tracking-widest uppercase mb-6
   }

   .formError {
     @apply text-red-500 text-center my-1 text-sm
   }

   .formSuccess {
     @apply !text-blue-500 my-1 text-center
   }
 }

 /* Neutraliser le comportement d'autofill */
 input:-webkit-autofill,
 input:-webkit-autofill:focus {
   transition:
     background-color 600000s 0s,
     color 600000s 0s;
 }

 input[data-autocompleted] {
   background-color: transparent !important;
 }

 .gradient-xy {
   animation: gradient-xy 3s ease infinite;
 }

 @keyframes gradient-xy {

   0%,
   100% {
     background-position: left center;
   }

   50% {
     background-position: right center;
   }
 }

 .animate-fade-in {
   opacity: 1;
 }

 /* globals.css */
 .animated-border {
   background: linear-gradient(90deg, #3b82f6, #8b5cf6, #3b82f6);
   background-size: 200% 100%;
   animation: gradient-move 0.5s linear infinite;
 }

 @keyframes gradient-move {
   0% {
     background-position: 0% 50%;
   }

   100% {
     background-position: 200% 50%;
   }
 }